{% extends 'main/layout.html' %}
{% load static %}



{% block title %}{{ Developers }}{% endblock %}


{% block content %}

<div class="page-content section-team">
    <div class="container">
        <h2 class="display-4">Developers</h2>
        <hr class="mb-4">
        <div class="mb-5">
            <div class="row align-items-center">
                <div class="col-md-4">
                    <img src="{% static 'main/img/team_1.svg' %}" class="img-fluid rounded-start mb-4" alt="">
                </div>
                <div class="col-md-8">
                    <h5 class="card-title">DEVELOPER</h5>
                    <p class="card-text">
                        Property Markets Group (PMG) is one of renowned developers of Waldorf Astoria Miami, launched a 100-story tower south of
                        Manhattanin in 2021 as the tallest ultra- luxury hotel and residences skyscraper.
                    </p>
                    <p class="card-text">
                        Founded by Kevin Maloney in 1991, PMG has become a premier national investment and development firm, operating
                        throughout the United States.
                    </p>
                    <p class="card-text">
                        PMG is recognised as the full-service and large-scale development company, having direct experience in the acquisition,
                        renovation, financing, operation and marketing of commercial and residential real estate.
                    </p>
                    <p class="card-text">
                        During its almost 30-year history, more than 157 projects have been developed by the company. More than 85
                        residential buildings in Manhattan have been successfully transformed to highly operating properties. New condominium
                        projects are developing in Miami, New York, Chicago. It has over $9,1 Billion in real estate assets.
                    </p>
                </div>
            </div>
        </div>
        <div class="mb-5">
            <div class="row align-items-center">
                <div class="col-md-4">
                    <img src="{% static 'main/img/team_2.png' %}" class="img-fluid rounded-start mb-4" alt="">
                </div>
                <div class="col-md-8">
                    <h5 class="card-title">DEVELOPER</h5>
                    <p class="card-text">
                        The North American leading private equity firm - Greybrook Realty Partners - specializes in investments in large scale
                        real estate development and value-add assets.
                    </p>
                    <p class="card-text">
                        On behalf of individual and institutional investors in more than 30 countries Greybrook develops projects ranging from
                        single-family homes specially built for rent to ultra-luxury condominiums and retail properties.
                    </p>
                    <p class="card-text">
                        Greybrook's current real estate investment portfolio includes more than 90 projects with 50 million square feet in total
                        with an estimated completion value of $20 billion.
                    </p>
                    <p class="card-text">
                        Having an impeccable reputation over the years, Greybrook RP actively collaborates with top-tier developer partners in
                        creating ultra-luxury innovative condominium residences.
                    </p>
                    <p class="card-text">
                        One of the notable Greybrook's projects in a partnership with Property Markets Group (PMG) is the invesment in the
                        largest residential tower at 300 Biscayne Boulevard in downtown Miami.
                    </p>
                </div>
            </div>
        </div>
        <div class="mb-5">
            <div class="row align-items-center">
                <div class="col-md-4">
                    <img src="{% static 'main/img/team_3.png' %}" class="img-fluid rounded-start mb-4" alt="">
                </div>
                <div class="col-md-8">
                    <h5 class="card-title">DEVELOPER</h5>
                    <p class="card-text">
                        S2 Development is known as a residential real estate development company dealing with multi-family and mixed-use
                        development.
                    </p>
                    <p class="card-text">
                        Moreover, the company, headed by J. Claudio Stivelman and Marc D. Schmulian, have been supporting the reputation of the
                        leader in creating innovative and exciting landmark developments working with the world's most famous and reputable
                        architects and designers for the last twenty years.
                    </p>
                    <p class="card-text">
                        Following its basic principles - to combine creative design with high quality workmanship - S2 Development finds
                        specifically oriented approaches in construction of luxury residential projects ranging from Bay Harbor Islands to Sunny
                        Isles Beach.
                    </p>
                    <p class="card-text">
                        More than 600 luxury waterfront residences in South Florida are in S2's track record.
                    </p>
                </div>
            </div>
        </div>
        <div class="mb-5">
            <div class="row align-items-center">
                <div class="col-md-4">
                    <img src="{% static 'main/img/team_4.png' %}" class="img-fluid rounded-start mb-4" alt="">
                </div>
                <div class="col-md-8">
                    <h5 class="card-title">DEVELOPER</h5>
                    <p class="card-text">
                        Founded in 2017 by an investor Mark Scheinberg, Mohari Hospitality, a global investment company, is focused on the
                        traditional sectors of real estate and hospitality in prime resort and urban markets, and leisure and philanthropic
                        sectors from Canada to Spain.
                    </p>
                    <p class="card-text">
                        To expand its ambitious plans in the luxury hospitality market, Mohari Hospitality is actively working independently and
                        with partners,using various forms of investment: equity and debt in both development and operating assets.
                    </p>
                    <p class="card-text">
                        The company's current investments in the residential development in Costa Rica, Canada and Europe and cooperation with
                        brand partners including Four Seasons, Ritz-Carlton, Waldorf Astoria and others impress us.
                    </p>
                    <p class="card-text">
                        The development of new concepts for the protection of cultural heritage and the natural environment in each place of the
                        business project is a recognizable approach in the work of Mohari's dynamic team.
                    </p>
                </div>
            </div>
        </div>
        <div class="mb-5">
            <div class="row align-items-center">
                <div class="col-md-4">
                    <img src="{% static 'main/img/team_5.png' %}" class="img-fluid rounded-start mb-4" alt="">
                </div>
                <div class="col-md-8">
                    <h5 class="card-title">CONCEPTUAL ARTIST</h5>
                    <p class="card-text">
                        The genius of Carlos Ott's architecture is in his talant to combine of a conceptually new construction geometry with the
                        historical urban development and the natural environment.
                    </p>
                    <p class="card-text">
                        Being a grantee of some academic awards, a winner of numerous world's professional prestigious competitions as well as
                        architectural prizes, a master, an author of many unique achievements, including the international airports, banks,
                        telecommunication centers, hotels, operas and other identifiable residences, uruguayan architect Carlos Ott can be
                        considered as one of the best conceptual minds of his generation.
                    </p>
                    <p class="card-text">
                        Ott's signature style is noticed in breathtaking designs in Germany, France, Singapore, Dubai, China, and other
                        countries.
                    </p>
                </div>
            </div>
        </div>
        <div class="mb-5">
            <div class="row align-items-center">
                <div class="col-md-4">
                    <img src="{% static 'main/img/team_6.png' %}" class="img-fluid rounded-start mb-4" alt="">
                </div>
                <div class="col-md-8">
                    <h5 class="card-title">ARCHITECTURAL PARTNERSHIP</h5>
                    <p class="card-text">
                        Sieger Suárez Architectural Partnership is a concentrating its activities in various directons of luxury high-rise
                        residential design and development firm, based in Miami.
                    </p>
                    <p class="card-text">
                        Sieger Suarez has distinguished as the creator of construction masterpieces, which are among the most prestigious
                        residential buildings in South Florida.
                    </p>
                    <p class="card-text">
                        The pleasure of a luxurious living space and the joy of comfort - that's what Suarez is ready to provide for the
                        customers every day.
                    </p>
                    <p class="card-text">
                        Conceptual approaches to Waldorf Astoria Miami construction was designed by Sieger Suarez Architects in collaboration
                        with the world renowned architect Carlos Ott.
                    </p>
                </div>
            </div>
        </div>
        <div class="mb-5">
            <div class="row align-items-center">
                <div class="col-md-4">
                    <img src="{% static 'main/img/team_7.png' %}" class="img-fluid rounded-start mb-4" alt="">
                </div>
                <div class="col-md-8">
                    <h5 class="card-title">INTERIOR DESIGN FIRM</h5>
                    <p class="card-text">
                        BAMO, a luxury hospitality and residential interior design firm, for thirty years, has remained consistent in its goals:
                        to make architectural customer-oriented interiors gorgeous, incomparable and inspired to live and to dream.
                    </p>
                    <p class="card-text">
                        BAMO's team is a brilliant band of like-minded people, fanatics of their business and professionals in architecture,
                        design and art, bringing to their projects passion, collaboration and quality.
                    </p>
                    <p class="card-text">
                        The desire to hear and understand the unspoken needs of the client helps BAMO to create original interiors far from
                        everyday life.
                    </p>
                    <p class="card-text">
                        Hotel, residential and corporate clients trust BAMO, because the accuracy, ingenuity and experience in the company's
                        work allow them to make their clients' visions become a reality.
                    </p>
                </div>
            </div>
        </div>

        <div class="row pt-4">

            <div class="col-lg-4 text-center mb-4">
                <img src="{% static 'main/img/carlos_ott.jpg' %}" class="team-man-photo mb-4" alt="">
                <h4 class="card-title mb-3">CARLOS OTT</h4>
                <p class="mb-2">
                    Born in Montivideo in 1946, an Uruguayan architect Carlos Ott is recognised as the the “starchitect”, who made a name
                    for himsel due to his extraordinary vision of modern architecture.
                </p>
                <p class="mb-2">
                    He was thirty when he was selected from 744 participants to take part in a prestigious project, and then, won the first
                    prize for the construction of the Opera de La Bastille in Paris in 1983.
                </p>
                <p class="mb-0">
                    Carlos Ott founded his own architectural firm "The Carlos Ott Partnership" in Toronto (Canada) in 1988. Currently, it
                    employs architects, designers, administrative staff.
                </p>
            </div>

            <div class="col-lg-4 text-center mb-4">
                <img src="{% static 'main/img/bamo.jpg' %}" class="team-man-photo mb-4" alt="">
                <h4 class="card-title mb-3">BAMO</h4>
                <p class="mb-0">
                    BAMO has branches in 20 countries on 5 continents.
                    A talanted BAMO's staff consists of professionals who are passionate about their work and create elegant and amazing
                    spaces where a bold flight of fancy is realized and clients' dreams come true.
                    Аmong the objects of BAMO's portfolio are luxury houses, condominiums, world famous hotels, resorts, restaurants, spas,
                    and the unique collection of superyachts.
                </p>
            </div>

            <div class="col-lg-4 text-center mb-4">
                <img src="{% static 'main/img/pmg.jpg' %}" class="team-man-photo mb-4" alt="">
                <h4 class="card-title mb-3">Property Markets Group</h4>
                <p class="mb-2">
                    Property Markets Group (PMG) is a contemporary, dynamically developing national investment firm with the 30-year
                    experience that carries out full-service, large-scale development and asset management operating in Florida, New York,
                    Colorado, South Carolina, Tennessee, Georgia.
                </p>
                <p class="mb-0">
                    Nowadays PMG's assets include projects in the stage of pre-developement, construction, lease-up and sell out.
                </p>
            </div>

        </div>
    </div>
</div>
{% endblock %}