{% extends 'main/layout.html' %}
{% load static %}



{% block title %}{{ title }}{% endblock %}


{% block content %}

    <div class="page-content portfolio-block pb-0" id="gallery">
    <div class="container mb-5">
        <h2 class="display-4 mb-5">Gallery</h2>
        <div class="row portfolio-container gallery-1">

            <div class="col-md-4 mb-4">
                <figure class="media media-image equal-md-1-1"
                    data-bp='{"imgSrc": "{% static 'main/img/gallery/image_None_aFZxRMD' %}" , "parentGalleryClass": "gallery-1" }'>
                    <span style="background-image: url('{% static 'main/img/gallery/image_None_aFZxRMD' %}')">
                    </span>
                </figure>
            </div>

            <div class="col-md-4 mb-4">
                <figure class="media media-image equal-md-1-1"
                    data-bp='{"imgSrc": "{% static 'main/img/gallery/image_None_FgLYHtw' %}" , "parentGalleryClass": "gallery-1" }'>
                    <span style="background-image: url('{% static 'main/img/gallery/image_None_FgLYHtw' %}')">
                    </span>
                </figure>
            </div>

            <div class="col-md-4 mb-4">
                <figure class="media media-image equal-md-1-1"
                    data-bp='{"imgSrc": "/media/gallery/image_None_n07LGde" , "parentGalleryClass": "gallery-1" }'>
                    <span style="background-image: url('{% static 'main/img/gallery/image_None_n07LGde' %}')">
                    </span>
                </figure>
            </div>

            <div class="col-md-4 mb-4">
                <figure class="media media-image equal-md-1-1"
                    data-bp='{"imgSrc": "{% static 'main/img/gallery/image_None_GFHMfhb' %}" , "parentGalleryClass": "gallery-1" }'>
                    <span style="background-image: url('{% static 'main/img/gallery/image_None_GFHMfhb' %}')">
                    </span>
                </figure>
            </div>

            <div class="col-md-4 mb-4">
                <figure class="media media-image equal-md-1-1"
                    data-bp='{"imgSrc": "{% static 'main/img/gallery/image_None_AitpD8H' %}" , "parentGalleryClass": "gallery-1" }'>
                    <span style="background-image: url('{% static 'main/img/gallery/image_None_AitpD8H' %}')">
                    </span>
                </figure>
            </div>

            <div class="col-md-4 mb-4">
                <figure class="media media-image equal-md-1-1"
                    data-bp='{"imgSrc": "{% static 'main/img/gallery/image_None_38m8LEt' %}" , "parentGalleryClass": "gallery-1" }'>
                    <span style="background-image: url('{% static 'main/img/gallery/image_None_38m8LEt' %}')">
                    </span>
                </figure>
            </div>

            <div class="col-md-4 mb-4">
                <figure class="media media-image equal-md-1-1"
                    data-bp='{"imgSrc": "{% static 'main/img/gallery/image_None_ZHIYybH' %}" , "parentGalleryClass": "gallery-1" }'>
                    <span style="background-image: url('{% static 'main/img/gallery/image_None_ZHIYybH' %}')">
                    </span>
                </figure>
            </div>

            <div class="col-md-4 mb-4">
                <figure class="media media-image equal-md-1-1"
                    data-bp='{"imgSrc": "{% static 'main/img/gallery/image_None_31l9bun' %}" , "parentGalleryClass": "gallery-1" }'>
                    <span style="background-image: url('{% static 'main/img/gallery/image_None_31l9bun' %}')">
                    </span>
                </figure>
            </div>

            <div class="col-md-4 mb-4">
                <figure class="media media-image equal-md-1-1"
                    data-bp='{"imgSrc": "{% static 'main/img/gallery/image_None_AN0nE0w' %}" , "parentGalleryClass": "gallery-1" }'>
                    <span style="background-image: url('{% static 'main/img/gallery/image_None_AN0nE0w' %}')">
                    </span>
                </figure>
            </div>

            <div class="col-md-4 mb-4">
                <figure class="media media-image equal-md-1-1"
                    data-bp='{"imgSrc": "{% static 'main/img/gallery/image_None_GyfoIdi' %}" , "parentGalleryClass": "gallery-1" }'>
                    <span style="background-image: url('{% static 'main/img/gallery/image_None_GyfoIdi' %}')">
                    </span>
                </figure>
            </div>

            <div class="col-md-4 mb-4">
                <figure class="media media-image equal-md-1-1"
                    data-bp='{"imgSrc": "{% static 'main/img/gallery/image_None_ItXJJob' %}" , "parentGalleryClass": "gallery-1" }'>
                    <span style="background-image: url('{% static 'main/img/gallery/image_None_ItXJJob' %}')">
                    </span>
                </figure>
            </div>

            <div class="col-md-4 mb-4">
                <figure class="media media-image equal-md-1-1"
                    data-bp='{"imgSrc": "{% static 'main/img/gallery/image_None_agomTxB' %}" , "parentGalleryClass": "gallery-1" }'>
                    <span style="background-image: url('{% static 'main/img/gallery/image_None_agomTxB' %}')">
                    </span>
                </figure>
            </div>

            <div class="col-md-4 mb-4">
                <figure class="media media-image equal-md-1-1"
                    data-bp='{"imgSrc": "{% static 'main/img/gallery/image_None_g9fsKkT' %}" , "parentGalleryClass": "gallery-1" }'>
                    <span style="background-image: url('{% static 'main/img/gallery/image_None_g9fsKkT' %}')">
                    </span>
                </figure>
            </div>

            <div class="col-md-4 mb-4">
                <figure class="media media-image equal-md-1-1"
                    data-bp='{"imgSrc": "{% static 'main/img/gallery/image_None_dxo1TGg' %}" , "parentGalleryClass": "gallery-1" }'>
                    <span style="background-image: url('{% static 'main/img/gallery/image_None_dxo1TGg' %}')">
                    </span>
                </figure>
            </div>

            <div class="col-md-4 mb-4">
                <figure class="media media-image equal-md-1-1"
                    data-bp='{"imgSrc": "{% static 'main/img/gallery/image_None_XQwdVfk' %}" , "parentGalleryClass": "gallery-1" }'>
                    <span style="background-image: url('{% static 'main/img/gallery/image_None_XQwdVfk' %}')">
                    </span>
                </figure>
            </div>

        </div>
    </div>
</div>




{% endblock %}