{% extends 'main/layout.html' %}
{% load static %}



{% block title %}{{ title }}{% endblock %}


{% block content %}

    <div class="page-content portfolio-block pb-0" id="gallery">
    <div class="container mb-5">
        <h2 class="display-4 mb-5">Pythons</h2>
        <div class="row portfolio-container gallery-1">

    {% for i in gal_img %}

            <div class="col-md-4 mb-4">
                <figure class="media media-image equal-md-1-1"
                    data-bp='{"imgSrc": "{% static 'main/img/gallery/image_None_aFZxRMD' %}" , "parentGalleryClass": "gallery-1" }'>
                    <span style="background-image: url('{{ i.gallery_img.url }}')">
                    </span>
                </figure>
            </div>

    {% endfor %}

            </div>
        </div>
    </div>



{% endblock %}

