{% extends 'main/layout.html' %}
{% load static %}



{% block title %}{{ title }}{% endblock %}


{% block content %}

    <div class="page-content">
    <div class="container mb-5">
        <h2 class="display-4 mb-3">Listings</h2>
        <span class="btn rounded-0 btn-lg listings-btn-sp-app" data-bs-toggle="modal"
            data-bs-target="#exampleModalSpecialApp">Special apportunities</span>
    </div>
    <div class="container">
        <!-- Search -->
        <form method="get" class="form-listings-search mb-3">
            <div class="row">
                <div class="col-lg-4 mb-2">
                    <select name="unit_type" id="id_unit_type" style="width: 100%;height: 48px;padding: 10px;border-radius: 0;">
                        <option value="" selected="">Bedrooms</option>

                        <option value="Junior">Junior</option>

                        <option value="One Bed">One Bed</option>

                        <option value="Two Bed">Two Bed</option>

                        <option value="Three Bed">Three Bed</option>

                        <option value="Four Bed">Four Bed</option>

                      </select>
                </div>

                <!-- <div class="col-lg-3 mb-2">
                    <div class="accordion search-input-accordion" id="accordionExample2">
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="heading-area">
                                <button class="accordion-button collapsed btn-serach-dropdown" type="button"
                                    data-bs-toggle="collapse" data-bs-target="#collapse-area" aria-expanded="false"
                                    aria-controls="collapse-area">Area</button>
                            </h2>
                            <div id="collapse-area" class="accordion-collapse collapse"
                                aria-labelledby="heading-area" data-bs-parent="#accordionExample2">
                                <div class="accordion-body">
                                    <ul class="collapse-ul" aria-labelledby="dropdownMenuButton2">
                                        <li>
                                            <div class="dropdown-item">
                                                <input class="form-check-input" type="checkbox" value=""
                                                    id="area-check-1">
                                                <label class="form-check-label text-uppercase"
                                                    for="area-check-1">2500 SQF - 5000 SQF</label>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="dropdown-item">
                                                <input class="form-check-input" type="checkbox" value=""
                                                    id="area-check-2">
                                                <label class="form-check-label text-uppercase"
                                                    for="area-check-2">2000 SQF - 2500 SQF</label>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="dropdown-item">
                                                <input class="form-check-input" type="checkbox" value=""
                                                    id="area-check-3">
                                                <label class="form-check-label text-uppercase"
                                                    for="area-check-3">1500 SQF - 2000 SQF</label>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="dropdown-item">
                                                <input class="form-check-input" type="checkbox" value=""
                                                    id="area-check-4">
                                                <label class="form-check-label text-uppercase"
                                                    for="area-check-4">1000 SQF - 1500 SQF</label>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="dropdown-item">
                                                <input class="form-check-input" type="checkbox" value=""
                                                    id="area-check-5">
                                                <label class="form-check-label text-uppercase"
                                                    for="area-check-5">500 SQF - 1000 SQF</label>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div> -->

                <div class="col-lg-4 mb-3">
                    <select name="view" id="id_view" style="width: 100%;height: 48px;padding: 10px;border-radius: 0;">
                        <option value="" selected="">View</option>

                        <option value="Norch">Norch</option>

                        <option value="Northeast">Northeast</option>

                        <option value="East">East</option>

                        <option value="Southeast">Southeast</option>

                        <option value="South">South</option>

                        <option value="Southwest">Southwest</option>

                        <option value="West">West</option>

                        <option value="Northwest">Northwest</option>

                      </select>
                </div>
                <div class="col-lg-4">
                    <button type="submit" name="search_btn" class="btn btn-dark btn-list-search w-100"
                        style="margin-right: 5px;height: 48px;">Search</button>
                    <!-- <button class="btn btn-outline-dark btn-list-search px-5" type="button"
                        data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight"
                        aria-controls="offcanvasRight">Building</button> -->
                </div>
            </div>
        </form>
        <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel"
            style="width: 600px;z-index: 9999;">
            <div class="offcanvas-header">
                <h5 id="offcanvasRightLabel">Building</h5>
                <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas"
                    aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
                <img src="/static/img/listings_obj.png" width="100%" height="100%" alt="">
            </div>
        </div>

        <!-- listings -->
        <div class="table-responsive">
            <table class="table table-hover text-center">
                <thead>
                    <tr>
                        <th scope="col">CUBE</th>
                        <th scope="col">FLOOR</th>
                        <th scope="col">LINE</th>
                        <th scope="col">UNIT TYPE</th>
                        <th scope="col">UNIT</th>
                        <th scope="col">VIEW</th>
                        <th scope="col">SQ.FT</th>
                        <th scope="col">PRICE</th>
                        <th scope="col">FLOOR PLAN</th>
                    </tr>
                </thead>
                <tbody>


                    <tr>
                        <td>4</td>
                        <td>48</td>
                        <td>4</td>
                        <td>Junior</td>
                        <td>4804</td>
                        <td>South</td>
                        <td>519</td>
                        <td>$794000</td>
                        <td>

                            <a class="text-dark fs-5">
                                <i class="bi bi-file-earmark-arrow-down"></i>
                            </a>

                        </td>
                    </tr>

                    <tr>
                        <td>4</td>
                        <td>47</td>
                        <td>6</td>
                        <td>Junior</td>
                        <td>4706</td>
                        <td>West</td>
                        <td>573</td>
                        <td>$862000</td>
                        <td>

                            <a class="text-dark fs-5">
                                <i class="bi bi-file-earmark-arrow-down"></i>
                            </a>

                        </td>
                    </tr>

                    <tr>
                        <td>7</td>
                        <td>79</td>
                        <td>4</td>
                        <td>Two Bed</td>
                        <td>7904</td>
                        <td>Southwest</td>
                        <td>2115</td>
                        <td>$3171000</td>
                        <td>

                            <a class="text-dark fs-5">
                                <i class="bi bi-file-earmark-arrow-down"></i>
                            </a>

                        </td>
                    </tr>

                    <tr>
                        <td>5</td>
                        <td>51</td>
                        <td>1</td>
                        <td>Three Bed</td>
                        <td>5101</td>
                        <td>Northeast</td>
                        <td>2659</td>
                        <td>$4413000</td>
                        <td>

                            <a class="text-dark fs-5">
                                <i class="bi bi-file-earmark-arrow-down"></i>
                            </a>

                        </td>
                    </tr>

                    <tr>
                        <td>6</td>
                        <td>64</td>
                        <td>2</td>
                        <td>Three Bed</td>
                        <td>6402</td>
                        <td>Southwest</td>
                        <td>2844</td>
                        <td>$5307000</td>
                        <td>

                            <a class="text-dark fs-5">
                                <i class="bi bi-file-earmark-arrow-down"></i>
                            </a>

                        </td>
                    </tr>

                    <tr>
                        <td>7</td>
                        <td>73</td>
                        <td>1</td>
                        <td>Three Bed</td>
                        <td>7301</td>
                        <td>Northeast</td>
                        <td>2502</td>
                        <td>$5293000</td>
                        <td>

                            <a class="text-dark fs-5">
                                <i class="bi bi-file-earmark-arrow-down"></i>
                            </a>

                        </td>
                    </tr>

                    <tr>
                        <td>7</td>
                        <td>73</td>
                        <td>3</td>
                        <td>Three Bed</td>
                        <td>7303</td>
                        <td>Southeast</td>
                        <td>2838</td>
                        <td>$6430000</td>
                        <td>

                            <a class="text-dark fs-5">
                                <i class="bi bi-file-earmark-arrow-down"></i>
                            </a>

                        </td>
                    </tr>

                    <tr>
                        <td>6</td>
                        <td>66</td>
                        <td>1</td>
                        <td>Four Bed</td>
                        <td>6601</td>
                        <td>Northeast</td>
                        <td>3256</td>
                        <td>$5900000</td>
                        <td>

                            <a class="text-dark fs-5">
                                <i class="bi bi-file-earmark-arrow-down"></i>
                            </a>

                        </td>
                    </tr>

                    <tr>
                        <td>5</td>
                        <td>55</td>
                        <td>1</td>
                        <td>Three Bed</td>
                        <td>5501</td>
                        <td>Northeast</td>
                        <td>2659</td>
                        <td>$4525000</td>
                        <td>

                            <a class="text-dark fs-5">
                                <i class="bi bi-file-earmark-arrow-down"></i>
                            </a>

                        </td>
                    </tr>

                    <tr>
                        <td>6</td>
                        <td>64</td>
                        <td>2</td>
                        <td>Three Bed</td>
                        <td>6402</td>
                        <td>Southwest</td>
                        <td>2844</td>
                        <td>$5307000</td>
                        <td>

                            <a class="text-dark fs-5">
                                <i class="bi bi-file-earmark-arrow-down"></i>
                            </a>

                        </td>
                    </tr>

                    <tr>
                        <td>7</td>
                        <td>73</td>
                        <td>1</td>
                        <td>Three Bed</td>
                        <td>7301</td>
                        <td>Northeast</td>
                        <td>2502</td>
                        <td>$5293000</td>
                        <td>

                            <a class="text-dark fs-5">
                                <i class="bi bi-file-earmark-arrow-down"></i>
                            </a>

                        </td>
                    </tr>

                    <tr>
                        <td>7</td>
                        <td>73</td>
                        <td>3</td>
                        <td>Three Bed</td>
                        <td>7303</td>
                        <td>Southeast</td>
                        <td>2838</td>
                        <td>$6430000</td>
                        <td>

                            <a class="text-dark fs-5">
                                <i class="bi bi-file-earmark-arrow-down"></i>
                            </a>

                        </td>
                    </tr>

                    <tr>
                        <td>8</td>
                        <td>80</td>
                        <td>4</td>
                        <td>Three Bed</td>
                        <td>8004</td>
                        <td>Northwest</td>
                        <td>2456</td>
                        <td>$4100000</td>
                        <td>

                            <a class="text-dark fs-5">
                                <i class="bi bi-file-earmark-arrow-down"></i>
                            </a>

                        </td>
                    </tr>

                    <tr>
                        <td>8</td>
                        <td>83</td>
                        <td>3</td>
                        <td>Three Bed</td>
                        <td>8303</td>
                        <td>Southwest</td>
                        <td>2454</td>
                        <td>$4450000</td>
                        <td>

                            <a class="text-dark fs-5">
                                <i class="bi bi-file-earmark-arrow-down"></i>
                            </a>

                        </td>
                    </tr>

                    <tr>
                        <td>8</td>
                        <td>80</td>
                        <td>1</td>
                        <td>Four Bed</td>
                        <td>8001</td>
                        <td>Northeast</td>
                        <td>3575</td>
                        <td>$8473000</td>
                        <td>

                            <a class="text-dark fs-5">
                                <i class="bi bi-file-earmark-arrow-down"></i>
                            </a>

                        </td>
                    </tr>

                    <tr>
                        <td>8</td>
                        <td>85</td>
                        <td>1</td>
                        <td>Four Bed</td>
                        <td>8501</td>
                        <td>Northeast</td>
                        <td>3575</td>
                        <td>$8831000</td>
                        <td>

                            <a class="text-dark fs-5">
                                <i class="bi bi-file-earmark-arrow-down"></i>
                            </a>

                        </td>
                    </tr>

                    <tr>
                        <td>8</td>
                        <td>80</td>
                        <td>2</td>
                        <td>Four Bed</td>
                        <td>8002</td>
                        <td>Southeast</td>
                        <td>3542</td>
                        <td>$8721000</td>
                        <td>

                            <a class="text-dark fs-5">
                                <i class="bi bi-file-earmark-arrow-down"></i>
                            </a>

                        </td>
                    </tr>

                    <tr>
                        <td>8</td>
                        <td>85</td>
                        <td>2</td>
                        <td>Four Bed</td>
                        <td>8502</td>
                        <td>Southeast</td>
                        <td>3542</td>
                        <td>$9110000</td>
                        <td>

                            <a class="text-dark fs-5">
                                <i class="bi bi-file-earmark-arrow-down"></i>
                            </a>

                        </td>
                    </tr>





                    <div class="loading text-center mt-2 mb-4" style="display: none;">
                        <div class="spinner-border" role="status">
                            <span class="visually-hidden">Loading...</span>
                        </div>
                    </div>

                </tbody>
            </table>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="exampleModalSpecialApp" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content rounded-0">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Special apportunities</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-sm-6 mb-3">
                            <div class="card rounded-0">
                                <div class="card-body text-center">
                                    <p class="fw-bolder">Crypto currency</p>
                                    <a style="cursor:pointer;" data-bs-toggle="modal"
                                    data-bs-target="#exampleModal1" data-bs-dismiss="modal" aria-label="Close">learn more</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 mb-3">
                            <div class="card rounded-0">
                                <div class="card-body text-center">
                                    <p class="fw-bolder">Special prices</p>
                                    <a style="cursor:pointer;" data-bs-toggle="modal"
                                    data-bs-target="#exampleModal1" data-bs-dismiss="modal" aria-label="Close">learn more</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 mb-3">
                            <div class="card rounded-0" style="min-height: 150px;">
                                <div class="card-body text-center">
                                    <p class="fw-bolder">Personal offer</p>
                                    <a style="cursor:pointer;" data-bs-toggle="modal"
                                    data-bs-target="#exampleModal1" data-bs-dismiss="modal" aria-label="Close">learn more</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 mb-3">
                            <div class="card rounded-0" style="min-height: 150px;">
                                <div class="card-body text-center">
                                    <p class="fw-bolder">Rental available 6 month or 2 times a year</p>
                                    <a style="cursor:pointer;" data-bs-toggle="modal"
                                    data-bs-target="#exampleModal1" data-bs-dismiss="modal" aria-label="Close">learn more</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm">
                            <div class="card rounded-0">
                                <div class="card-body text-center">
                                    <p class="fw-bolder">Units are coming fully finished</p>
                                    <a style="cursor:pointer;" data-bs-toggle="modal"
                                    data-bs-target="#exampleModal1" data-bs-dismiss="modal" aria-label="Close">learn more</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<script src="/static/js/scroll/jquery-3.1.1.min.js"></script>
<script src="/static/js/scroll/jquery.waypoints.min.js"></script>
<script src="/static/js/scroll/infinite.min.js"></script>

<script>
  var infinite = new Waypoint.Infinite({
    element: $('.infinite-container')[0],
    onBeforePageLoad: function () {
      $('.loading').show();
    },
    onAfterPageLoad: function ($items) {
      $('.loading').hide();
    }
  });
</script>

{% endblock %}