{% extends 'main/layout.html' %}
{% load static %}



{% block title %}{{ title }}{% endblock %}


{% block content %}

    <div class="page-content outside-block">
    <div class="container mb-5">
        <h2 class="display-4 mb-5">Outside amenities</h2>
        <div class="row align-items-center mx-0">
            <div class="col-lg-6 px-4">
                <h2 class="mb-3">BIRD'S - EYE VIEW</h2>
                <p class="mb-0">
                    Сarlos Ott's bold architectural solution in the construction of the Waldorf Astoria Miami - to present the building as a pile of glass cubes stacked unevenly on the top of each other - creates another unforgettable image of the Waldorf Astoria collection around the world.
                </p>
                <img src="{% static 'main/img/img_3.jpg' %}" class="img-1 my-4" alt="">
                <p class="mb-4">It is a breathtaking felling to watch from a height of 1,049 feet above the beauties of Biscayne Bay, the Port of Miami, Brickell Avenue, Downtown Miami, Key Biscayne, and South Beach.
                    An important fact is that the ambitious Waldorf Astoria Miami is the tallest skyskyscraper in Florida.</p>
            </div>
            <div class="col-lg-6 px-0">
                <img src="{% static 'main/img/img_8.jpeg' %}" class="img-cover-1" alt="">
            </div>
        </div>
    </div>

    <div class="container mt-4 mb-5">
        <img src="{% static 'main/img/img_4.jpg' %}" class="img-2" alt="">
    </div>

    <div class="container">
        <h2 class="mb-0">OVERVIEW</h2>
        <hr class="my-4">
        <div class="row">
            <div class="col-lg-6 mb-4">
                <div class="mb-5">
                    <h4 class="mb-3">BUILDING</h4>
                    <ul>
                        <li>100 Stories</li>
                        <li>360 private residences</li>
                        <li>Jr. Suites, 1, 2, 3, and 4-bedrooms</li>
                        <li>Penthouse Collection</li>
                        <li>205 hotel guestrooms and suites</li>
                    </ul>
                </div>
                <div class="mb-5">
                    <h4 class="mb-3">BUILDING FEATURES</h4>
                    <ul>
                        <li>100-story tower located in Downtown Miami</li>
                        <li>Uninpeded views of Miami Beach, Atlantic Ocean and Downtown</li>
                        <li>360 branded luxury residences</li>
                        <li>Hotel guestrooms and suites available</li>
                        <li>Peacock Alley</li>
                        <li>Wonderful resort pool with café and private zones</li>
                        <li>Private Bar / Wine Tasting Room</li>
                        <li>Signature Restaurant</li>
                        <li>All-Day Dining Brasserie</li>
                        <li>Meeting venue offering spaces from ballrooms to boardrooms</li>
                        <li>Kids Club</li>
                    </ul>
                </div>
                <div class="mb-5">
                    <h4 class="mb-3">KITCHENS & BATHROOMS</h4>
                    <ul>
                        <li>Features of kitchens curated by BAMO and created by Italian design house Italkraft</li>
                        <li>Sub-Zero and Wolf appliance package includes integrated paneled microwave,</li>
                        <li>dishwasher, built-in convection oven, refrigerator, freezer and wine storage</li>
                        <li>Select primary and secondary bathrooms offer rain showers and custom Italian vanities</li>
                        <li>Dornbracht and Duravit bathroom fixtures</li>
                    </ul>
                </div>
                <div>
                    <h4 class="mb-3">TECHNOLOGY</h4>
                    <ul>
                        <li class="mb-3">
                            Savant premium smart-home tech systems at Waldorf Astoria Residences Miami are designed to provide residents with a
                            touch-screen monitor and iPad access to Waldorf Astoria concierge services using a custom app accessible to a full
                            menu of available offerings including:
                            <br>- 24/7 room service
                            <br>- Spa and fitness treatments
                            <br>- House car reservations
                            <br>- Valet service access
                            <br>- Package delivery service
                        </li>
                        <li>
                            This technology also allows for a full array of customizable residence features, including:
                            <br>- Mood setting using automated lighting controls
                            <br>- Natural light regulations with automated window mode
                            <br>- Total sound setting with automated audio-visual availabilities
                            <br>- Complete temperature control for the high-efficiency central air-conditioning and heating systems
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="mb-5">
                    <h4 class="mb-3">WELLNESS & FITNESS</h4>
                    <ul>
                        <li>Signature spa</li>
                        <li>Leading-edge fitness center with private training studios</li>
                    </ul>
                </div>
                <div class="mb-5">
                    <h4 class="mb-3">PRIVATE RESIDENTIAL SERVICES & AMENITIES</h4>
                    <ul>
                        <li>24-hour doormen and lobby desk attendants</li>
                        <li>Private residential porte cochère with 24-hour valet service</li>
                        <li>24-hour concierge services in addition to dedicated on-site professionals</li>
                        <li>Owners Lounge with double height ceilings, billiard and entertainment room with panoramic bay views, designed for private functions and equipped with adjacent catering kitchen</li>
                        <li>Private residential pool deck with whirlpools and lounging areas</li>
                        <li>Exclusive Waldorf Astoria Miami access and benefits, including preferred spa and restaurant rates and access to à la carte hotel services</li>
                    </ul>
                </div>
                <div class="mb-5">
                    <h4 class="mb-3">RESIDENT FEATURES</h4>
                    <ul>
                        <li>Fully finished and furnished Jr. Suites</li>
                        <li>Fully finished 1, 2, 3 and 4-bedroom private residences</li>
                        <li>All residential interiors are designed by award-winning interior design firm BAMO</li>
                        <li>10-foot floor-to-ceiling windows with stunning views of city and downtown skyline, Miami Beach and Atlantic Ocean</li>
                        <li>Smart home technology offers seamless personalization with the touch of a button. Includes integrated audio,</li>
                        <li>video and lighting systems</li>
                        <li>Contemporary lighting package, includes recessed lighting, dimmers, and lighting control</li>
                        <li>Fully built-out closets in all residences curated by BAMO</li>
                        <li>Built in top-of-the-line in-unit washer and dryer</li>
                        <li>Pre-wired for high-speed communications</li>
                    </ul>
                </div>
                <div class="mb-5">
                    <h4 class="mb-3">BUSINESS</h4>
                    <p class="mb-3">Hotel boardrooms and meeting rooms offer first-class business facility including*:</p>
                    <ul>
                        <li>Private offices available for reservation</li>
                        <li>Boardroom with full conference capabilities</li>
                        <li>Small conference rooms suitable for private meetings</li>
                        <li>Reception desk available for host’s staff to greet visitors</li>
                        <li>Spacious co-working lounge</li>
                        <li>Service pantry, available for catering and coffee service</li>
                        <li>Copier, and wireless printing capabilities</li>
                        <li>Reception desk available for host’s staff to receive visitors</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}